html {
	background-color: black;
    font-family: Arial, Geneva,Helvetica, sans-serif;
}


header div {
    font-family: Arial, Geneva,Helvetica, sans-serif;
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 60px
}

header div span {
	background-color: orange;
	border: 5px solid orange;
	color: black;
	border-radius: 5px;

}

header div a {
	text-decoration: none;
	display: inline;
	width: 800px;
	height: 200px;
	color: white;
	margin-left: 20px;
	font-size: 20px;
	padding: 50px
}

aside {
	width: 150px;
	height: 1000px;
	margin-left: 60px;
	margin-top: 60px;
	border: 2px solid white;
}

aside a {
	width: 150px;
	display: block;
	color: white;
	text-decoration: none;
	padding: 10px 0 10px 0;
	text-align: center;
}

.asideLink {
	background-color: orange;
}

.content {
	position: absolute;
	width: 1250px;
}

section {
	overflow: 0;
	display: inline-flex;
	font-size: 8px;
	color: white;
	width: 250px;
	height: 40px;
	border: 2px solid white;
	position: relative;
	left: 240px;
	top: -1000px;
	padding: 160px 10px 0px 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

body div div section div {
	position: relative;
	bottom: 20px;
	left: 20px;
}



